/*
* wangEditor 1.3 less
* 王福朋
* 2015-03-24
*/
@font-face {
  font-family: 'wangeditorfont';
  src: url('font/wangeditorfont.eot?76044696');
  src: url('font/wangeditorfont.eot?76044696#iefix') format('embedded-opentype'), url('font/wangeditorfont.woff?76044696') format('woff'), url('font/wangeditorfont.ttf?76044696') format('truetype'), url('font/wangeditorfont.svg?76044696#wangeditorfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-wangEditor-"]:before,
[class*=" icon-wangEditor-"]:before {
  font-family: "wangeditorfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
}
.icon-wangEditor-link:before {
  content: '\e800';
}
.icon-wangEditor-unlink:before {
  content: '\e801';
}
.icon-wangEditor-code:before {
  content: '\e802';
}
.icon-wangEditor-angle-down:before {
  content: '\e805';
}
.icon-wangEditor-font:before {
  content: '\e806';
}
.icon-wangEditor-bold:before {
  content: '\e807';
}
.icon-wangEditor-italic:before {
  content: '\e808';
}
.icon-wangEditor-header:before {
  content: '\e809';
}
.icon-wangEditor-align-left:before {
  content: '\e80a';
}
.icon-wangEditor-align-center:before {
  content: '\e80b';
}
.icon-wangEditor-align-right:before {
  content: '\e80c';
}
.icon-wangEditor-list-bullet:before {
  content: '\e80d';
}
.icon-wangEditor-indent-left:before {
  content: '\e80e';
}
.icon-wangEditor-indent-right:before {
  content: '\e80f';
}
.icon-wangEditor-list-numbered:before {
  content: '\e810';
}
.icon-wangEditor-underline:before {
  content: '\e811';
}
.icon-wangEditor-table:before {
  content: '\e812';
}
.icon-wangEditor-eraser:before {
  content: '\e813';
}
.icon-wangEditor-text-height:before {
  content: '\e814';
}
.icon-wangEditor-brush:before {
  content: '\e815';
}
.icon-wangEditor-pencil:before {
  content: '\e816';
}
.icon-wangEditor-minus:before {
  content: '\e817';
}
.icon-wangEditor-picture:before {
  content: '\e818';
}
.icon-wangEditor-file-image:before {
  content: '\e819';
}
.icon-wangEditor-cw:before {
  content: '\e81a';
}
.icon-wangEditor-ccw:before {
  content: '\e81b';
}
.icon-wangEditor-cancel:before {
  content: '\e803';
}
.icon-wangEditor-terminal:before {
  content: '\e804';
}
/* '' */
.wangEditor-container {
  position: relative;
  border: 1px solid #cccccc;
}
.wangEditor-container * {
  margin: 0;
  box-sizing: border-box;
}
.wangEditor-container .clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}
.wangEditor-container .clearfix {
  *zoom: 1;
  /*兼容IE低版本*/
}
.wangEditor-container div[contenteditable=true]:focus {
  outline: none;
}
.wangEditor-container .wangEditor-btn-container {
  text-align: left;
  border-bottom: 1px solid #d2d4d1;
  background-color: #f3f3f3;
}
.wangEditor-container .wangEditor-btn-container-group {
  float: left;
  padding: 5px 5px 2px 0px;
  border-right: 1px solid #d2d4d1;
}
.wangEditor-container .wangEditor-btn-container-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 3px 3px;
  margin-left: 0.5em;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
}
.wangEditor-container .wangEditor-btn-container-btn:hover {
  background-color: #f1f1f1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-btn-container-btn i {
  display: block;
  float: left;
  font-size: 1em;
}
.wangEditor-container .wangEditor-btn-container-btn-default {
  color: #505050;
}
.wangEditor-container .wangEditor-btn-container-btn-selected {
  background-color: #aec5e6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .drop-menu-style {
  /*通用配置*/
  list-style-type: none;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  position: absolute;
  margin-top: 23px;
  padding-left: 0px;
  -webkit-padding-start: 0px;
  z-index: 100;
}
.wangEditor-container .wangEditor-drop-menu {
  /*通用配置*/
  list-style-type: none !important;
  border: 1px solid #cccccc !important;
  background-color: #ffffff !important;
  position: absolute !important;
  margin-top: 23px !important;
  padding-left: 0px !important;
  -webkit-padding-start: 0px !important;
  z-index: 100 !important;
}
.wangEditor-container .wangEditor-drop-menu a {
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  text-align: left;
  display: block;
  text-decoration: none;
  color: #505050;
  padding: 3px 10px;
}
.wangEditor-container .wangEditor-drop-menu a:hover {
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-toolTip {
  position: absolute;
  margin-top: -28px;
  display: none;
}
.wangEditor-container .wangEditor-toolTip-content {
  font-size: 0.8em;
  line-height: 1;
  text-align: center;
  background-color: #505050;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-toolTip-content::after {
  /*div下方的三角*/
  content: "";
  border: 5px solid;
  border-color: #505050 transparent transparent transparent;
  position: absolute;
  right: 40%;
  top: 100%;
}
.wangEditor-container .wangEditor-modal {
  z-index: 100;
  width: 600px;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  text-align: left;
  border: 3px solid #cccccc;
  background-color: #ffffff;
  padding: 10px 15px 15px 15px;
  position: absolute;
  margin-top: 30px;
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #505050;
}
.wangEditor-container .wangEditor-modal-header {
  text-align: left;
}
.wangEditor-container .wangEditor-modal-header-close {
  display: block;
  text-align: center;
  float: right;
  padding: 0px 3px;
  color: #505050;
  text-decoration: none;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-modal-header-close:hover {
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-modal-header-line {
  border-top: 1px solid #cccccc;
  margin: 5px 0px 5px 0px;
}
.wangEditor-container .wangEditor-modal-btn {
  color: #505050;
  background-color: #f1f1f1;
  border: 1px solid #cccccc;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.wangEditor-container .wangEditor-modal-btn:hover {
  background-color: #cccccc;
}
.wangEditor-container .wangEditor-modal input[type=text] {
  border: 1px solid #999999;
  padding: 2px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-modal-big {
  width: 800px;
}
.wangEditor-container .wangEditor-modal-small {
  width: 400px;
}
.wangEditor-container .wangEditor-modal-mini {
  width: 200px;
}
.wangEditor-container .wangEditor-textarea-container {
  overflow-y: scroll;
  background-color: #dfdfdf;
}
.wangEditor-container .wangEditor-textarea {
  margin: 20px 40px;
  border: 1px solid #a8aaa7;
  background-color: #ffffff;
  padding: 15px 20px;
}
.wangEditor-container .wangEditor-textarea p {
  margin: 0.7em 0;
}
.wangEditor-container .wangEditor-tableDeleteBtn {
  display: block;
  text-align: center;
  padding: 0px 3px 0px 3px;
  color: #fff;
  background-color: #505050;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.wangEditor-container .wangEditor-tableDeleteBtn:hover {
  color: #505050;
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-code {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 5px 0px;
  line-height: 1.4;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
}
.wangEditor-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #f1f1f1;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 50;
}
