[class^="icon-wangEditor-"], [class*=" icon-wangEditor-"] {
  font-family: 'wangeditorfont';
  font-style: normal;
  font-weight: normal;
}
 
.icon-wangEditor-link { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;'); }
.icon-wangEditor-unlink { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;'); }
.icon-wangEditor-code { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;'); }
.icon-wangEditor-angle-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;'); }
.icon-wangEditor-font { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;'); }
.icon-wangEditor-bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;'); }
.icon-wangEditor-italic { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;'); }
.icon-wangEditor-header { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;'); }
.icon-wangEditor-align-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;'); }
.icon-wangEditor-align-center { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;'); }
.icon-wangEditor-align-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;'); }
.icon-wangEditor-list-bullet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;'); }
.icon-wangEditor-indent-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;'); }
.icon-wangEditor-indent-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;'); }
.icon-wangEditor-list-numbered { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe810;'); }
.icon-wangEditor-underline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe811;'); }
.icon-wangEditor-table { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe812;'); }
.icon-wangEditor-eraser { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe813;'); }
.icon-wangEditor-text-height { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe814;'); }
.icon-wangEditor-brush { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe815;'); }
.icon-wangEditor-pencil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe816;'); }
.icon-wangEditor-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe817;'); }
.icon-wangEditor-picture { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe818;'); }
.icon-wangEditor-file-image { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe819;'); }
.icon-wangEditor-cw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81a;'); }
.icon-wangEditor-ccw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81b;'); }
.icon-wangEditor-cancel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;'); }
.icon-wangEditor-terminal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }