@import "../../../vars.less";

.w-e-textarea-divider {
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: @textarea-slight-bg-color;
  }

  hr {
    display: block;
    width: 90%;
    margin: 20px auto;
    border: 0;
    height: 1px;
    background-color: @textarea-border-color;
  }
}
