.wangEditor-container .wangEditor-drop-menu{
	border: 1px\9 solid\9 #eeeeee\9;
}
.wangEditor-container .wangEditor-drop-panel{
	border: 1px\9 solid\9 #eeeeee\9;
}
.wangEditor-container .wangEditor-modal{
	border: 1px\9 solid\9 #eeeeee\9;
}

// modal 边框适应 IE 低版本
.wangEditor-modal {
	border: 1px\9 solid\9 #ccc\9;
}