.wangEditor-container {
  position: relative;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.wangEditor-container * {
  margin: 0;
  box-sizing: border-box;
}
.wangEditor-container .clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wangEditor-container .clearfix {
  *zoom: 1;
  /*兼容IE低版本*/
}
.wangEditor-container div[contenteditable=true]:focus {
  outline: none;
}
.wangEditor-container .wangEditor-btn-container {
  text-align: left;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
}
.wangEditor-container .wangEditor-btn-container-group {
  float: left;
  padding: 0 5px;
  border-right: 1px solid #eeeeee;
}
.wangEditor-container .wangEditor-btn-container-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  margin-bottom: -2px;
}
.wangEditor-container .wangEditor-btn-container-btn:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.wangEditor-container .wangEditor-btn-container-btn i {
  display: block;
  float: left;
  font-size: 1em;
  font-style: normal;
}
.wangEditor-container .wangEditor-btn-container-btn-default {
  color: #333333;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.wangEditor-container .wangEditor-btn-container-btn-selected {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.wangEditor-container .drop-menu-style {
  /*通用配置*/
  list-style-type: none;
  border-left: 1px solid #eeeeee;
  background-color: #ffffff;
  position: absolute;
  margin-top: 35px;
  padding-left: 0;
  -webkit-padding-start: 0;
  z-index: 10000;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  -moz-box-shadow: 1px 1px 3px #ccc;
  box-shadow: 1px 1px 3px #ccc;
}
.wangEditor-container .wangEditor-drop-menu {
  /*通用配置*/
  list-style-type: none !important;
  border-left: 1px solid #eeeeee !important;
  background-color: #ffffff !important;
  position: absolute !important;
  margin-top: 35px !important;
  padding-left: 0 !important;
  -webkit-padding-start: 0 !important;
  z-index: 10000 !important;
  -webkit-box-shadow: 1px 1px 3px #ccc !important;
  -moz-box-shadow: 1px 1px 3px #ccc !important;
  box-shadow: 1px 1px 3px #ccc !important;
}
.wangEditor-container .wangEditor-drop-menu a {
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  text-align: left;
  display: block;
  text-decoration: none;
  color: #333333;
  padding: 3px 10px;
}
.wangEditor-container .wangEditor-drop-menu a:hover {
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-drop-panel {
  width: 200px;
  border-left: 1px solid #eeeeee;
  background-color: #ffffff;
  position: absolute;
  margin-top: 35px;
  padding: 5px 5px 0 0;
  z-index: 10000;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  -moz-box-shadow: 1px 1px 3px #ccc;
  box-shadow: 1px 1px 3px #ccc;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem a {
  text-decoration: none;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem .forColorItem {
  display: block;
  width: 18px;
  border: 1px solid #cccccc;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem img {
  border: 0;
}
.wangEditor-container .wangEditor-drop-panel-big {
  width: 400px;
}
.wangEditor-container .wangEditor-toolTip {
  position: absolute;
  margin-top: -22px;
  display: none;
}
.wangEditor-container .wangEditor-toolTip-content {
  font-size: 0.8em;
  line-height: 1;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-toolTip-content::after {
  /*div下方的三角*/
  content: "";
  border: 5px solid;
  border-color: #333333 transparent transparent transparent;
  position: absolute;
  right: 40%;
  top: 100%;
}
.wangEditor-container .wangEditor-modal-container {
  z-index: 15000;
}
.wangEditor-container .wangEditor-modal {
  z-index: 10000;
  width: 600px;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  text-align: left;
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 15px 20px 15px 20px;
  position: absolute;
  margin-top: 5px;
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #333333;
  -webkit-box-shadow: 0 5px 15px #666;
  -moz-box-shadow: 0 5px 15px #666;
  box-shadow: 0 5px 15px #666;
}
.wangEditor-container .wangEditor-modal-header {
  text-align: left;
}
.wangEditor-container .wangEditor-modal-header-close {
  display: block;
  text-align: center;
  float: right;
  padding: 0 3px;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.wangEditor-container .wangEditor-modal-header-close:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.wangEditor-container .wangEditor-modal-header-close i {
  font-style: normal;
}
.wangEditor-container .wangEditor-modal-header-line {
  border-top: 1px solid #cccccc;
  margin: 5px 0 10px 0;
  clear: both;
}
.wangEditor-container .wangEditor-modal p {
  margin: 8px 0;
}
.wangEditor-container .wangEditor-modal a {
  text-decoration: none;
}
.wangEditor-container .wangEditor-modal-btn {
  color: #333333;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.wangEditor-container .wangEditor-modal-btn:hover {
  background-color: #f1f1f1;
}
.wangEditor-container .wangEditor-modal input[type=text] {
  border: 1px solid #999999;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-modal-big {
  width: 800px;
}
.wangEditor-container .wangEditor-modal-small {
  width: 400px;
}
.wangEditor-container .wangEditor-modal-mini {
  width: 200px;
}
.wangEditor-container .wangEditor-textarea-container {
  word-wrap: break-word;
  overflow-y: auto;
  background-color: #fff;
}
.wangEditor-container .wangEditor-textarea {
  background-color: #ffffff;
  padding: 10px 15px 10px 15px;
}
.wangEditor-container .wangEditor-textarea p {
  margin: 0.7em 0;
}
.wangEditor-container .wangEditor-textarea ul {
  margin-left: 20px;
}
.wangEditor-container .wangEditor-textarea ol {
  margin-left: 20px;
}
.wangEditor-container .wangEditor-elemDeleteBtn {
  text-align: center;
  padding: 1px 5px 2px 5px;
  color: #fff;
  background-color: #333333;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-elemDeleteBtn:hover {
  color: #333333;
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-imgResize {
  position: absolute;
  display: none;
  cursor: se-resize;
  width: 0;
  height: 0;
  border-bottom: 20px solid #333333;
  border-left: 20px solid transparent;
}
