.w-e-bar-divider {
  display: inline-flex;
  width: 1px;
  height: 100%;
  background-color: #F0F0F0;
  margin: 0 5px;
}

.w-e-bar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;

  button {
    border: none;
    background: transparent;
    height: 32px;
    padding: 0 8px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #595959;

    svg {
      fill: #595959;
    }

    &:hover {
      background-color: #f1f1f1;
      color: #333;
    }
  }

  .active {
    background-color: #f1f1f1;
    color: #333;
  }

  .disabled {
    color: #999;
    cursor: not-allowed;

    svg {
      fill: #999;
    }

    &:hover {
      background-color: #fff;
      color: #999;
  
      svg {
        fill: #999;
      }
    }
  }
}