.w-e-drop-panel {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  margin-top: 40px;
  min-width: 200px;
  padding: 10px;

  ul {
    list-style: none;
    text-align: left;

    li {
      display: inline-block;
      height: 18px;
      width: 18px;
      cursor: pointer;
      border: 1px solid #f1f1f1;
      margin: 3px;
    }
  }
}
