@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1t8ldm');
  src:  url('fonts/icomoon.eot?1t8ldm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1t8ldm') format('truetype'),
    url('fonts/icomoon.woff?1t8ldm') format('woff'),
    url('fonts/icomoon.svg?1t8ldm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-header:before {
  content: "\f1dc";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-image:before {
  content: "\e90d";
}
.icon-film:before {
  content: "\e913";
}
.icon-location:before {
  content: "\e947";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-terminal:before {
  content: "\ea81";
}

