.w-e-text-container {
    position: relative;
    z-index: 10000;
}
.w-e-text {
    padding: 0 10px;
    overflow-y: scroll;

    p,h1,h2,h3,h4,h5 {
        margin: 10px 0;
        line-height: 1.5;
    }

    &:focus {
        outline: none;
    }

    ul, ol {
        margin-left: 20px;
    }

    blockquote {
        display: block;
        border-left: 8px solid #d0e5f2;
        padding: 5px 10px;
        margin: 10px 0;
        line-height: 1.4;
        font-size: 100%;
        background-color: #f1f1f1;
    }

    code {
        display: inline-block;
        background-color: #f1f1f1;
        border-radius: 3px;
        padding: 3px 5px;
        margin: 0 3px;
    }

    pre {

        code {
            display: block;
        }
    }
}