@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-aje5n');
	src:url('fonts/icomoon.eot?#iefix-aje5n') format('embedded-opentype'),
		url('fonts/icomoon.woff?-aje5n') format('woff'),
		url('fonts/icomoon.ttf?-aje5n') format('truetype'),
		url('fonts/icomoon.svg?-aje5n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-wangEditor-link:before {content: "\e800";}
.icon-wangEditor-unlink:before {content: "\e801";}
.icon-wangEditor-code:before {content: "\e802";}
.icon-wangEditor-cancel:before {content: "\e803";}
.icon-wangEditor-terminal:before {content: "\e804";}
.icon-wangEditor-angle-down:before {content: "\e805";}
.icon-wangEditor-font:before {content: "\e806";}
.icon-wangEditor-bold:before {content: "\e807";}
.icon-wangEditor-italic:before {content: "\e808";}
.icon-wangEditor-header:before {content: "\e809";}
.icon-wangEditor-align-left:before {content: "\e80a";}
.icon-wangEditor-align-center:before {content: "\e80b";}
.icon-wangEditor-align-right:before {content: "\e80c";}
.icon-wangEditor-list-bullet:before {content: "\e80d";}
.icon-wangEditor-indent-left:before {content: "\e80e";}
.icon-wangEditor-indent-right:before {content: "\e80f";}
.icon-wangEditor-list-numbered:before {content: "\e810";}
.icon-wangEditor-underline:before {content: "\e811";}
.icon-wangEditor-table:before {content: "\e812";}
.icon-wangEditor-eraser:before {content: "\e813";}
.icon-wangEditor-text-height:before {content: "\e814";}
.icon-wangEditor-brush:before {content: "\e815";}
.icon-wangEditor-pencil:before {content: "\e816";}
.icon-wangEditor-minus:before {content: "\e817";}
.icon-wangEditor-picture:before {content: "\e818";}
.icon-wangEditor-file-image:before {content: "\e819";}
.icon-wangEditor-cw:before {content: "\e81a";}
.icon-wangEditor-ccw:before {content: "\e81b";}
.icon-wangEditor-music:before {content: "\e911";}
.icon-wangEditor-play:before {content: "\e912";}
.icon-wangEditor-location:before {content: "\e947";}
.icon-wangEditor-happy:before {content: "\e9df";}

.wangEditor-container {
  position: relative;
  border: 1px solid #cccccc;
}
.wangEditor-container * {
  margin: 0;
  box-sizing: border-box;
}
.wangEditor-container .clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}
.wangEditor-container .clearfix {
  *zoom: 1;
  /*兼容IE低版本*/
}
.wangEditor-container div[contenteditable=true]:focus {
  outline: none;
}
.wangEditor-container .wangEditor-btn-container {
  text-align: left;
  border-bottom: 1px solid #d2d4d1;
  background-color: #f3f3f3;
}
.wangEditor-container .wangEditor-btn-container-group {
  float: left;
  padding: 5px 5px 2px 0;
  border-right: 1px solid #d2d4d1;
  border-bottom: 1px solid #d2d4d1;
  margin-bottom: -1px;
}
.wangEditor-container .wangEditor-btn-container-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 3px 3px;
  margin-left: 0.5em;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
}
.wangEditor-container .wangEditor-btn-container-btn:hover {
  background-color: #aec5e6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-btn-container-btn i {
  display: block;
  float: left;
  font-size: 1em;
  font-style: normal;
}
.wangEditor-container .wangEditor-btn-container-btn-default {
  color: #505050;
}
.wangEditor-container .wangEditor-btn-container-btn-selected {
  background-color: #aec5e6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .drop-menu-style {
  /*通用配置*/
  list-style-type: none;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  position: absolute;
  margin-top: 23px;
  padding-left: 0;
  -webkit-padding-start: 0;
  z-index: 100;
}
.wangEditor-container .wangEditor-drop-menu {
  /*通用配置*/
  list-style-type: none !important;
  border: 1px solid #cccccc !important;
  background-color: #ffffff !important;
  position: absolute !important;
  margin-top: 23px !important;
  padding-left: 0 !important;
  -webkit-padding-start: 0 !important;
  z-index: 100 !important;
}
.wangEditor-container .wangEditor-drop-menu a {
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  text-align: left;
  display: block;
  text-decoration: none;
  color: #505050;
  padding: 3px 10px;
}
.wangEditor-container .wangEditor-drop-menu a:hover {
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-drop-panel {
  width: 200px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  position: absolute;
  margin-top: 23px;
  padding: 5px 5px 0 0;
  z-index: 100;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem a {
  text-decoration: none;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem .forColorItem {
  display: block;
  width: 18px;
  border: 1px solid #cccccc;
}
.wangEditor-container .wangEditor-drop-panel .wangEditor-drop-panel-floatItem img {
  border: 0;
}
.wangEditor-container .wangEditor-drop-panel-big {
  width: 400px;
}
.wangEditor-container .wangEditor-toolTip {
  position: absolute;
  margin-top: -28px;
  display: none;
}
.wangEditor-container .wangEditor-toolTip-content {
  font-size: 0.8em;
  line-height: 1;
  text-align: center;
  background-color: #505050;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-toolTip-content::after {
  /*div下方的三角*/
  content: "";
  border: 5px solid;
  border-color: #505050 transparent transparent transparent;
  position: absolute;
  right: 40%;
  top: 100%;
}
.wangEditor-container .wangEditor-modal-container {
  z-index: 150;
}
.wangEditor-container .wangEditor-modal {
  z-index: 100;
  width: 600px;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  text-align: left;
  border: 3px solid #cccccc;
  background-color: #ffffff;
  padding: 10px 15px 15px 15px;
  position: absolute;
  margin-top: 5px;
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #505050;
}
.wangEditor-container .wangEditor-modal-header {
  text-align: left;
}
.wangEditor-container .wangEditor-modal-header-close {
  display: block;
  text-align: center;
  float: right;
  padding: 0 3px;
  color: #505050;
  text-decoration: none;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-modal-header-close:hover {
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-modal-header-close i {
  font-style: normal;
}
.wangEditor-container .wangEditor-modal-header-line {
  border-top: 1px solid #cccccc;
  margin: 5px 0 5px 0;
}
.wangEditor-container .wangEditor-modal p {
  margin: 8px 0;
}
.wangEditor-container .wangEditor-modal-btn {
  color: #505050;
  background-color: #f1f1f1;
  border: 1px solid #cccccc;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.wangEditor-container .wangEditor-modal-btn:hover {
  background-color: #cccccc;
}
.wangEditor-container .wangEditor-modal input[type=text] {
  border: 1px solid #999999;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-modal-big {
  width: 800px;
}
.wangEditor-container .wangEditor-modal-small {
  width: 400px;
}
.wangEditor-container .wangEditor-modal-mini {
  width: 200px;
}
.wangEditor-container .wangEditor-textarea-container {
  overflow-y: scroll;
}
.wangEditor-container .wangEditor-textarea {
  background-color: #ffffff;
  padding: 0 15px 10px 15px;
}
.wangEditor-container .wangEditor-textarea p {
  margin: 0.7em 0;
}
.wangEditor-container .wangEditor-textarea ul {
  margin-left: 20px;
}
.wangEditor-container .wangEditor-textarea ol {
  margin-left: 20px;
}
.wangEditor-container .wangEditor-elemDeleteBtn {
  text-align: center;
  padding: 1px 5px 2px 5px;
  color: #fff;
  background-color: #505050;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wangEditor-container .wangEditor-elemDeleteBtn:hover {
  color: #505050;
  background-color: #aec5e6;
}
.wangEditor-container .wangEditor-imgResize {
  position: absolute;
  display: none;
  cursor: se-resize;
  width: 0;
  height: 0;
  border-bottom: 20px solid #505050;
  border-left: 20px solid transparent;
}
.wangEditor-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #f1f1f1;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 50;
}
