.w-e-toolbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #F0F0F0;
  height: 40px;
}

.w-e-toolbar-divider {
  display: inline-flex;
  width: 1px;
  height: 100%;
  background-color: #F0F0F0;
  margin: 0 5px;
}

.w-e-toolbar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;

  button {
    border: none;
    background: transparent;
    min-width: 32px;
    height: 32px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #595959;
    font-size: 14px;

    svg {
      fill: #595959;
      width: 14px !important;
      height: 14px !important;
    }

    &:hover {
      background-color: #f1f1f1;
      color: #333;

      svg {
        fill: #333;
      }
    }
  }

  select {
    border: none;
    background: transparent;
    min-width: 32px;
    height: 32px;
    color: #595959;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
      color: #333;
    }
  }

  .active {
    background-color: #f1f1f1;
    color: #333;
  }

  .disabled {
    color: #999;
    cursor: not-allowed;

    svg {
      fill: #999;
    }

    &:hover {
      background-color: #fff;
      color: #999;
  
      svg {
        fill: #999;
      }
    }
  }
}