@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-aje5n');
	src:url('fonts/icomoon.eot?#iefix-aje5n') format('embedded-opentype'),
		url('fonts/icomoon.woff?-aje5n') format('woff'),
		url('fonts/icomoon.ttf?-aje5n') format('truetype'),
		url('fonts/icomoon.svg?-aje5n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-wangEditor-link:before {content: "\e800";}
.icon-wangEditor-unlink:before {content: "\e801";}
.icon-wangEditor-code:before {content: "\e802";}
.icon-wangEditor-cancel:before {content: "\e803";}
.icon-wangEditor-terminal:before {content: "\e804";}
.icon-wangEditor-angle-down:before {content: "\e805";}
.icon-wangEditor-font:before {content: "\e806";}
.icon-wangEditor-bold:before {content: "\e807";}
.icon-wangEditor-italic:before {content: "\e808";}
.icon-wangEditor-header:before {content: "\e809";}
.icon-wangEditor-align-left:before {content: "\e80a";}
.icon-wangEditor-align-center:before {content: "\e80b";}
.icon-wangEditor-align-right:before {content: "\e80c";}
.icon-wangEditor-list-bullet:before {content: "\e80d";}
.icon-wangEditor-indent-left:before {content: "\e80e";}
.icon-wangEditor-indent-right:before {content: "\e80f";}
.icon-wangEditor-list-numbered:before {content: "\e810";}
.icon-wangEditor-underline:before {content: "\e811";}
.icon-wangEditor-table:before {content: "\e812";}
.icon-wangEditor-eraser:before {content: "\e813";}
.icon-wangEditor-text-height:before {content: "\e814";}
.icon-wangEditor-brush:before {content: "\e815";}
.icon-wangEditor-pencil:before {content: "\e816";}
.icon-wangEditor-minus:before {content: "\e817";}
.icon-wangEditor-picture:before {content: "\e818";}
.icon-wangEditor-file-image:before {content: "\e819";}
.icon-wangEditor-cw:before {content: "\e81a";}
.icon-wangEditor-ccw:before {content: "\e81b";}
.icon-wangEditor-music:before {content: "\e911";}
.icon-wangEditor-play:before {content: "\e912";}
.icon-wangEditor-location:before {content: "\e947";}
.icon-wangEditor-happy:before {content: "\e9df";}
.icon-wangEditor-sigma:before {content: "\ea67";}
.icon-wangEditor-enlarge2:before {content: "\e98b";}
.icon-wangEditor-shrink2:before {content: "\e98c";}
