@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gma8qy');
  src:  url('fonts/icomoon.eot?gma8qy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gma8qy') format('truetype'),
    url('fonts/icomoon.woff?gma8qy') format('woff'),
    url('fonts/icomoon.svg?gma8qy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen_exit:before {
  content: "\e900";
}
.icon-fullscreen:before {
  content: "\e901";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e947";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-font:before {
  content: "\ea5c";
}
.icon-text-height:before {
  content: "\ea5f";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-indent-decrease:before {
  content: "\ea7c";
}
.icon-row-height:before {
  content: "\e9be";
}
.icon-split-line:before {
  content: "\ea0b";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-header:before {
  content: "\f1dc";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
